<ion-content >
  <div class="contenedor_css">
    <div class="contenedor_img">
      <img src="assets/images/comprobado.png" alt="Logo" class="img_icon ms-1" loading="lazy">
      <hr>
      <h2>Compra realizada con exito</h2>
    </div>
    <div class="contenedor_btn">
      <button class="btn_ctalogo" (click)="catalogo()" id="btn_comprar">Seguir comprando</button>
      <button class="btn_carrito" (click)="carrito()" id="btn_comprar">Ir al carrito</button>
      <button class="btn_compras" (click)="compras()" id="btn_comprar">Ir a mis compras</button>
    </div>
    <div class="contenedor_nota">
      <p class="nota">
        <strong>Nota:</strong> Si su producto no se entrega o se entrega dañado, puede reportarlo. 
        Su dinero será reembolsado junto con la devolución del producto.
      </p>
    </div>
  </div>
</ion-content>
